*{
   margin: 0px;
}

body{
    background-color: #FFFFFF;
}
div p{
    overflow: hidden;
}
a{
    text-decoration: none;
}
#menu ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    color:  #FF3333;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a,visited{
 display: block;
 padding: 15px;
 text-decoration: none;
}
#menu > ul li:hover a{
    color: darkslategrey;
}
#menu ul li:hover > ul{
    display: block;
}
#menu ul ul{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 225px;
}
#menu ul ul li{
    display: block;
}
#menu ul li:hover ul li a, visited {
    color: darkslategrey;
}
/*ul li{
   list-style-type: none;
   display: inline-block;
   float: left;
   padding-right: 30px;
   position: relative;
   cursor: pointer;
}
ul ul {
    display: none;
    float: none;
    position: absolute;
}
ul li lu   {
    display: block;
    //margin: 150px ;
}
ul li a,visited { //New add start
    color: #330099;
    display: block;
    //padding: 15px;
    text-decoration: none;
}
ul li:hover{
   // color: #330099; 
    display: block;
}
ul li a:hover{
    color: #009966;
}
//New add end 
ul li:hover > ul{
    display: block;
}
ul ul li:hover{
    display: block;
}*/
//css with html peramiter end   
.image_display{
    display:  block;
    margin: 15px auto auto auto;
}
#main{
    background:#FFFFFF;
    height: 1100px;
    width: 980px;
    margin: auto;
}
#header_main{
    height: 100px;
    width: 100%;
    //background-color: burlywood;
}
#header_main #logo{
    height:100%;
    width: 35%;
    //background-color: #cc99ff;
    float: left;
}
.image_display{
    display: block;
    margin: 5% 0% 5% 2%;
}
#header_main #banner{
    height:100%;
    width: 65%;
    //background-color: #FFFF00;
    float: left;
    text-align: right;
    color: black;
    text-spacing:  normal;
    font-family: sans-serif;
    font-size: medium;
}
#menu{
    height: 80px;
    width: 100%;
    //background-color: #FF3333;
    font-size: 14px;
}
#slidder{
    height: 350px;
    width: 100%;
    //background-color:  #336666;
}
#slogan{
    height: 75px;
    width: 100%;
    //background-color: #999;
}
#slogan p{
    font: bold italic 32px 'Times New Roman',sans-serif;
    font-size: 35px;
    text-align: center;
    font-family: 'Times New Roman',sans-serif;
    font-variant: normal;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    margin: 15px 0px 15px 0px;
    color: #999;
}
#slogan p span.red{
    color: red;
}
#slogan p span.green{
    color: green;
}
#content_main{
    height:400px;
    width: 100%;
    //background-color: darksalmon;
}
#content_main p{
    padding: 10px;
    text-align: justify;
    line-height: 150%;
}
#content_main h2{
    padding: 10px;
}
#content_main #left{
    height: 100%;
    width: 50%;
    //background-color: lawngreen;
    float: left;
}
#content_main #right{
    height: 100%;
    width: 50%;
    //background-color: cadetblue;
    float: left;
}
#readmore{
    width: 100%;
    height: 45px;
}
#readmore #left{
    width: 50%;
    height: 100%;
    float: left;
}
#readmore #right{
    width: 50%;
    height: 100%;
    float: left;
}
/*ul.list li{
    color:  #000;
    background-image: url(../images/list_mark1.jpg);
    background-position: left 6px;
    background-repeat: no-repeat;
    padding-left: 10px;
    text-align: justify;
    line-height: 170%;
}
ul.list li:hover{
    background-image: url(../images/list_mark1.jpg);
}*/
#readmore{
    
}
#line{
    height: 5px;
    width: 100%;
    background-color:  darkblue;
}
#footer{
    height: 45px;
    width: 100%;
    //background-color: #336666;
}
#footer #logo1{
    height: 100%;
    width: 27%;
    float: left;
    //background-color: burlywood;
}
#footer #address{
    height: 100%;
    width: 73%;
    float: left;
    //background-color: activeborder;
}
#footer #address p{
    text-align: justify;
    font-size: 15px;
}